<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IG Trading</title>
    {% load static %}

    {% include 'material/includes/material_css.html' %}
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <script src="{% static 'material/js/jquery.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
    <script src="{% static 'js/app.js' %}"></script>
    {% if messages %}
        <script type="text/javascript">
            $(function () {
                // Populate messages from backend in toasts
                {% for message in messages %}
                    M.toast({html: '{{ message }}', displayFor: 4000, classes: '{{ message.tags }}'});
                {% endfor %}
            });
        </script>
    {% endif %}
    {% block extra_head %}
    {% endblock %}
</head>
<body>
<nav>
    <div class="nav-wrapper blue-grey darken-1">
        <a href="{% url 'home' %}" class="brand-logo center">
            <img src="{% static 'img/logo.png' %}" width="50" />
        </a>
        {% load active_link_tags %}
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li class="{% active_link 'order-list' %}{% active_link 'home' strict=True %}"><a href="{% url 'home' %}">Orders</a></li>
            <li class="{% active_link 'account-list' %}"><a href="{% url 'account-list' %}">Accounts</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}" class="btn waves-effect waves-light">Logout<i class="material-icons right">exit_to_app</i></a></li>
            {% else %}
            <li><a href="{% url 'login' %}" class="btn waves-effect waves-light">Login<i class="material-icons right">exit_to_app</i></a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container section">
{% block content %}
{% endblock %}
</div>
</body>
</html>
