html, body {
    background: #eee;
    height: 100%;
}

.registration .row.sign-up {
    width: 90%;
    margin: 20px 0 0;
}

.registration .row.sign-up a.btn {
    width: calc(100% - 3rem);
}

a.brand-logo {
    padding: 5px;
}

.section.card-buttons {
    padding-bottom: 0;
}

.section.card-buttons .row {
    margin-bottom: 10px;
}
