{% extends "registration/login.html" %}

{% block css %}
    {% load static %}
    {{ block.super }}
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="row sign-up">
        <div class="action right-align">
            <a class="btn" href="{% url 'registration_register' %}">Sign up</a>
        </div>
    </div>
{% endblock %}
