{% extends "material/frontend/base_lockscreen.html" %}

{% load static %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
{% endblock %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% block content %}
    {{ block.super }}
    {% load material_form %}
    <form method="post">
        {% csrf_token %}
        {% form %}{% endform %}
        <button type="submit" name="_submit" class="btn">Submit</button>
    </form>
{% endblock %}
