{% extends "base.html" %}

{% load material_form %}

{% block content %}
    {{ block.super }}
    <div class="row center">
        <a class="btn waves-effect waves-light green" href="{% url 'account-add' %}">Add account</a>
    </div>
    <div class="row valign change-form">
        {% for object in object_list %}
        <div class="col s6 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title grey-text text-darken-2">{{ object.alias }}</span>
                    <h6>Exchange: {{ object.exchange }}</h6>
                    <h6>Type: {{ object.get_type }}</h6>
                    <h6>Username: {{ object.username }}</h6>
                    <div class="section card-buttons">
                        <div class="row">
                            <div class="col s8 m4">
                                <a class="btn waves-effect waves-light teal" href="{% url 'account-update' object.pk%}">Update</a>
                            </div>
                            <div class="col s8 m4">
                                <form method="post" action="{% url 'account-delete' object.pk %}">
                                    {% csrf_token %}
                                    <button class="btn waves-effect waves-light red" type="submit" name="action">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row valign change-form">
        {% endif %}
        {% endfor %}
    </div>
    {% if object_list %}
    <div class="row center">
        <a class="btn waves-effect waves-light green" href="{% url 'account-add' %}">Add account</a>
    </div>
    {% endif %}
{% endblock %}
