{% extends "base.html" %}

{% load material_form %}

{% block content %}
    {{ block.super }}
    <div class="row valign change-form">
        <div class="col s12 m8 offset-m2 l8 offset-l2">
            <div class="card">
                <form method="post">
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-2">{% if object.pk %}Update account{% else %}Add new account{% endif %}</span>
                        {% csrf_token %}
                        {% form form=form %}{% endform %}
                        <button type="submit" name="_submit" class="btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row valign change-form">
        {% for object in object_list %}
        <div class="col s6 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title grey-text text-darken-2">{{ object.alias }}</span>
                    <p>{{ object.exchange }}</p>
                    <p>{{ object.type }}</p>
                    <div class="section card-buttons">
                        <div class="row">
                            <div class="col s8 m4">
                                <a class="btn waves-effect waves-light teal" href="{% url 'account-update' object.pk %}">Update</a>
                            </div>
                            <div class="col s8 m4">
                                <form method="post" action="{% url 'account-delete' object.pk %}">
                                    {% csrf_token %}
                                    <button class="btn waves-effect waves-light red" type="submit" name="action">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row valign change-form">
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}
