{% extends "base.html" %}

{% block extra_head %}
<script>
    $(function () {
        $('#id_account_container select').change(function() {
            let account = $(this).children('option:selected').val();

            if (account === ''){
                return;
            }

            $.getJSON(
                `/user/timeframes/${account}/`,
                function (data) {
                    $('#id_timeframe_container select').empty();

                    for (const [timeframe, name] of Object.entries(data)) {
                        $('#id_timeframe_container select').append(
                            `<option value="${timeframe}">${name}</option>`
                        )
                    }

                    $('#id_timeframe_container select').formSelect();
                }
            );
        });
    });
</script>
{% endblock %}

{% load material_form %}

{% block content %}
    {{ block.super }}
    <div class="row valign change-form">
        <div class="col s12 m8 offset-m2 l8 offset-l2">
            <div class="card">
                <form method="post">
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-2">{% if object.pk %}Update order{% else %}Submit new order{% endif %}</span>
                        {% csrf_token %}
                        {% form form=form %}{% endform %}
                        <button type="submit" name="_submit" class="btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row valign change-form">
        {% for object in object_list %}
        <div class="col s6 m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title grey-text text-darken-2">{{ object.instrument }}</span>
                    <p>{{ object.exchange }}</p>
                    <p>{{ object.size }}</p>
                    <p>{{ object.timeframe }}</p>
                    <p>{{ object.stoploss_distance }}</p>
                    {% if object.entry_price %}
                    <p>{{ object.entry_price }}</p>
                    {% endif %}
                    <p>{{ object.status }}</p>
                    <div class="section">
                        <div class="row">
                            <div class="col s8 m4">
                                <a class="btn waves-effect waves-light teal" href="{% url 'order-edit' object.pk %}">Edit</a>
                            </div>
                            <div class="col s8 m4">
                                <form method="post" action="{% url 'order-delete' object.pk %}">
                                    {% csrf_token %}
                                    <button class="btn waves-effect waves-light red" type="submit" name="action">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row valign change-form">
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}
